.dashboard-actions {
  padding: 1rem 0 0 0;
}

.dashboard-actions button {
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard-actions button:hover {
  filter: brightness(1.1);
}
