.element-container .element-inner-container .box-content-container {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-top: 4px solid #008000;
  background-color: #fff;
}

.box-content-container button {
  border-radius: 0;
}

.box-content-container button:hover {
  filter: brightness(1.1);
}

.box-content-container .btn-save {
  background-color: #2c3e50;
  color: #fff;
  border: 1px solid #2c3e50;
}
